.parallax {
    background-image: url("Twst.png");
    min-height: 100%; 
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.seken {
    position:relative;
    color:#ddd;
    background-color:#282E34;
    text-align:center;
    padding:50px 80px;
}
.caption {
    position: absolute;
    left: 0;
    top: 350px;
    width: 100%;
    text-align: center;
    color: #000;
}
.border {
    background-color:transparent; 
    font-size:25px;
    color: #f7f7f7;
}
.caption span.border {
    background-color: #111;
    color: #fff;
    padding: 18px;
    font-size: 25px;
    letter-spacing: 10px;
}
.word {
    color: #777;
    background-color:white;
    text-align:center;
    padding:50px 80px;
    text-align: justify;
}
h3 {
    text-align: center
}

.Bg2 {
    background-image: url(HSD.webp);
    min-height: 100%;

}


.border2 {
    
    background-color: transparent;
    font-size: 25px;
    color: #f7f7f7;
    
}

.caption2 {
        padding-top: 300px;
        position: relative;
        left: 0;
        top: 50%;
        width: 100%;
        text-align: center;
        color: #000;
    }

.caption2 span.border2 {
    background-color: rgb(68, 5, 14);
    padding: 18px;
    letter-spacing: 10px;
}
.border2 {
    
    background-color: transparent;
    font-size: 25px;
    color: #f7f7f7;
    
}
.Bg3 {
    background-image: url(SV.webp);
    min-height: 100%;
}
.border3 {
    
    background-color: transparent;
    font-size: 25px;
    color: #f7f7f7;
    
}
.caption3 {

        padding-top: 300px;
        position: relative;
        left: 0;
        top: 50%;
        width: 100%;
        text-align: center;
        color: #000;
    }

.caption3 span.border3 {
    background-color: rgb(51, 27, 4);
    padding: 18px;
    letter-spacing: 10px;
}
.seken2 {
position:relative;
    color:#ddd;
    background-color:#282E34;
    text-align:center;
    padding:50px 80px;
}
.Bg4 {
    background-image: url(OV.webp);
    min-height: 100%;
}
.border4 {
    
    background-color: transparent;
    font-size: 25px;
    color: #f7f7f7;
    
}
.caption4 {

        padding-top: 300px;
        position: relative;
        left: 0;
        top: 50%;
        width: 100%;
        text-align: center;
        color: #000;
    }

    .caption4 span.border4 {
        background-color: rgb(33, 9, 65);
        padding: 18px;
        letter-spacing: 10px;
    }
.seken4 {
position:relative;
    color:#ddd;
    background-color:#282E34;
    text-align:center;
    padding:50px 80px;
}
.Bg5 {
    background-image: url(IH.webp);
    min-height: 100%;
}
.border5 {
    
    background-color: transparent;
    font-size: 25px;
    color: #f7f7f7;
    
}
.caption5 {

        padding-top: 300px;
        position: relative;
        left: 0;
        top: 50%;
        width: 100%;
        text-align: center;
        color: #000;
    }

    .caption5 span.border5 {
        background-color: rgb(5, 14, 65);
        padding: 18px;
        letter-spacing: 10px;
    }
.seken5 {
position:relative;
    color:#ddd;
    background-color:#282E34;
    text-align:center;
    padding:50px 80px;
}
.Bg6 {
    background-image: url(DS.webp);
    min-height: 100%;
}
.border6 {
    
    background-color: transparent;
    font-size: 25px;
    color: #f7f7f7;
    
}
.caption6 {

        padding-top: 300px;
        position: relative;
        left: 0;
        top: 50%;
        width: 100%;
        text-align: center;
        color: #000;
    }

.caption6 span.border6 {
    background-color: rgb(1, 20, 7);
    padding: 18px;
    letter-spacing: 10px;
}
.seken6 {
position:relative;
    color:#ddd;
    background-color:#282E34;
    text-align:center;
    padding:50px 80px;
}
.bg, .Bg2, .Bg3, .Bg4, .Bg5, .Bg6 {
    position: relative;
    opacity: 1;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
@media only screen and (max-device-width: 1024px)
.bg, .Bg2, .Bg3, .Bg4, .Bg5, Bg6 {
    background-attachment: scroll;}
